body {
    font-family: 'Lato', sans-serif;
    background-color: #e2e2e2;
    font-weight: normal;
    margin: auto;
}

html, body{
    width:100%;
    height:100%;
}

p {
    line-height: 150%;
    width: 80%;
    height:80%;
    align-content: center;
    margin: auto;
    padding: 15px 0 20px 0;
    font-size: 1max;
    word-wrap: break-word;
}

h2 {
    padding: 30px 0 0 0;
    width: 80%;
    align-content: center;
    margin: auto;
    background-color: white;

}

.maps_and_donuts{
    position: relative;
    display: flex;
    margin: auto;
    height:auto;
    width:90%;
    align-items:stretch;
    align-content: stretch;
    flex-direction: row;
    flex: 1 1 100vw;
    border: 10px;

}

.svg_map_donuts {
    display:inline-block;
    background-color: #dfddeb;
    float: left;
    border: 0.1px dashed;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.lineToLabel {
    fill: none;
    stroke: #756bb1;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.country_font{
    font-family: Lato, sans-serif;
    font-size: 10px;
    fill: black;
    fill-opacity: .5;
}

#text_control_box{
    height:auto;
    width: 10vw;
    position: relative;
    display:block;
    margin-top: 50px;
    float: bottom;
    background-color: ghostwhite;
    font-size: 0.75vw;
}


.xlab{
    font-size: 1vw;
}

.ylab{
    font-size: 1vw;
}

.countryLabels{
    font-size: 0.75vw;
    opacity: 0.5;
}

.highlighted{
    opacity:1.0;
    stroke-width: 0.015vw;
    stroke: grey;
}

.controls_box{
    position:relative;
    display:inline-block;
    font-size: 100%;
    width: 25%;
    height: 100%;
    margin: 10px 10px 60px 10px;

}

#pie_contrainer{
    flex-basis: auto;
    max-height:100%;
}

#europe_contrainer{
    flex-basis: auto;
}
#the_form {
    flex-basis: auto;

    display:flex;
    transform: translateY(+20px);
    background-color: inherit;
    padding: 5px 5px 5px 5px;
}

fieldset, input{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 150%;
}

fieldset[name="years_selection"] {
    float: left;
    margin: 0;
    font-size: .8vw;

    border: 2px groove ghostwhite;

}

fieldset[name="variables_selection"] {
    margin: 0;
    font-size: .8vw;
    border: 2px groove ghostwhite;
}

.arrow {
    cursor: pointer;
    border-top: 1vmin solid darkred;
    border-right: 1vmin solid darkred;
    width: 20px;
    height: 20px;
}

.left {
    margin: auto;
    display: inline;

    transform: rotate(-135deg);
}

.right {
    margin: auto;
    display: inline;


    transform: rotate(45deg);

}

.rightalt {
    margin: auto;
    display: inline;
    position:absolute;
    bottom: 50%;
    right:30%;
    transform: rotate(45deg);

}

.leftalt {
    margin: auto;
    display: inline;
    position:absolute;
    bottom: 50%;
    right:95%;
    transform: rotate(-135deg);
}

.arrow_up {
    cursor: pointer;
    position: relative;
    left: 50%;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    -webkit-animation: bounce 1s infinite;
    -webkit-transition: 10s ease-out;
    -webkit-transition-duration: 30s;
}

.arrow_down {
    cursor: pointer;
    position: relative;
    left: 50%;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    width: 1vw;
    height: 1vw;
    transform: rotate(-225deg);
    -webkit-animation: bounce 1s infinite;
    -webkit-transition: 10s ease-out;
    -webkit-transition-duration: 30s;

}

@-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}

.legend {
    margin-right:20px;
    text-anchor: start;
    font-size: 14px;
}
.axis text {
    fill: black;
    font-size :100%;
    font-family: 'Lato', sans-serif;
}

/*SVG*/

#social_exclusion{
    position: relative;
    background-color: ghostwhite;
    max-height: inherit;
    margin: 2vw 2vw;
}

#social_deprivation{
    position: relative;
    background-color: ghostwhite;
    max-height: inherit;
    margin: 2vw 2vw;
}


#WHO_points_gender{
    position: relative;
    background-color: ghostwhite;
    max-height: inherit;
    margin: 2vw 2vw;
}

#WHO_points_age{
    position: relative;
    background-color: ghostwhite;
    max-height: inherit;
    margin: 2vw 2vw;

}

.line {
    fill: none;
    stroke: #383838;
    stroke-width: 1px;
    stroke-dasharray: 2,2;

}
/*LAYOUT FIGO*/

#front_img{
    display: flex;
    align-items:stretch;
    align-content: stretch;
    flex-direction: row;
    flex: 1 1 100vw;
    margin: auto;
    width: 70%;
    position: center;
    max-width: 100%;
}

#div_intro {
    max-width: 100%;
    margin: auto;
    background-color: white;
}

#text_intro_map{
    width:20vw;
}

#div_map_donuts{
    max-width: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    position: center;
    align-content: center;
}

#div_soc_excl{
    position:relative;
    margin: auto;
    background-color: white;
    align-content: center;
    font-size: 1vw;
}



.text_container{
    position:relative;
    margin: auto;
    background-color: white;
    align-content: center;
    font-size: 1vw;

}

.soc_excl_barplots{
    display: flex;
    position:relative;
    align-items: center;
    width: 90vw;
    max-height: 40vw;
    flex-direction: row;
    margin: 1vw 1vw;
    background-color: ghostwhite;

}

.soc_depr_barplots{
    display: flex;
    position:relative;
    align-items: center;
    width: 90vw;
    max-height: 40vw;
    flex-direction: row;
    margin: 1vw 1vw;
    background-color: ghostwhite;
}

.who_points_gender{
    display: flex;
    position:relative;
    align-items: center;
    width: 90vw;
    max-height: 40vw;
    flex-direction: row;
    margin: 1vw 1vw;
    background-color: ghostwhite;
}

.who_points_age{
    display: flex;
    position:relative;
    align-items: center;
    width: 90vw;
    max-height: 40vw;
    flex-direction: row;
    margin: 1vw 1vw;
    background-color: ghostwhite;
}


#text_excl_contact_corr {
    background-color: ghostwhite;
    width: 40%;
    margin: auto;
    float: left;
    height: 100%;
    font-size: 1vw;
}

#text_excl_depr_corr{
    background-color: ghostwhite;
    width: 40%;
    margin: auto;
    position: relative;
    float: left;
    height: 100%;
    font-size: 1vw;
}

.text_points {
    background-color: ghostwhite;
    width: 40vw;
    height: auto;
    margin: auto;
    font-size: 1vw;
}


#div_conclusion{
    max-width: 100%;
    margin: auto;
    background-color: white;
    position: center;
    align-content: center;
    font-size: 1vw;

}

div.inline {
    display: inline;
    position: static;
    margin-right: 50px;
    left :100px;
    right: 100px;
    width: 200px;
    height: 200px;
    border: 3px solid navajowhite;
    background-color: papayawhip;

}

div.block {
    display: block;
    position: static;
    width: 200px;
    height: 200px;
    border: 3px solid navajowhite;
    background-color: papayawhip;

}


div.inblock {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    border: 3px solid navajowhite;
    background-color: papayawhip;
}
.bottom_bar{
    max-width: 100%;
    margin: auto;
    background-color: whitesmoke;
    position: center;
    align-content: center;
}

#div_remarks{
    max-width: 100%;
    margin: auto;
    background-color: white;
    position: center;
    align-content: center;
    font-size: 1vw;

}
