.vis_one{
    background-color: floralwhite;
    border: 1px solid black;
    position: center;
    width: 1000px;
    height: 1000px;
    margin: auto;
}

.c_font{
    font-family: Lato, sans-serif;
    font-size: 10px;
    fill: black;
    fill-opacity: .5;
}