/*#temperature_ana circle{
    fill:red;
}*/

/* Set style for axis text elements */
.axis text {
    fill: black;
    font-size :100%;
    font-family: 'Lato', sans-serif;
}

.main_title text{
    fill: black;
    font-size :100%;
    font-family: 'Lato', sans-serif;
}

#berl_legend_container {
    float: left;
}